*{
  font-family: Arial;
  font-size: 10vmin;
  text-align: center;
  margin: 0;
}

body {
  background: linear-gradient(45deg, rgb(255, 166, 33) 0%, rgb(253, 18, 89) 33%, rgb(132, 25, 255) 67%, rgb(74, 204, 255) 100%);
  background-size: 300vw 300vh;
  animation: gradient 60s ease infinite;
}

button {
  display: inline-block;
  margin: .5em;
  height: 3em;
  width: 6em;
  border-radius: .5em;
  border: none;
  box-shadow: 0px 0px 30px 0px black;
  color: #ffffff;
  background: #0c339e;
  cursor: pointer;
  overflow: hidden;
}

button:hover
{
  background: #072985;
}

button:active
{
  background: #0a3abe;
}

#creationContainer {
  margin: .5em;
  width: 6em;
  height: 3em;
  display: inline-block;
}

#create {
  margin: 0;
}

#loader {
  width: 2em;
  height: 2em;
  translate: 0em .2em;
  border: .3em solid #ffffff;
  border-radius: 50%;
  border-top: .3em solid #0c339e;
  animation: spin 2s linear infinite, fadeIn 1.5s;
}

#download {
  animation: fadeIn 1.5s;
  margin: 0;
}

#inputContainer {
  color: #ffffff;
  background: #0c339e;
  margin: .5em;
  padding: .5em .5em 0 .5em;
  border-radius: .5em;
  border: none;
  box-shadow: 0px 0px 30px 0px black;
}

#inputContainer * {
  font-size: 5vmin;
}

#logInput {
  width: 5em;
  margin: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

