body {
    background: linear-gradient(45deg, rgb(255, 166, 33) 0%, rgb(253, 18, 89) 33%, rgb(132, 25, 255) 67%, rgb(74, 204, 255) 100%);
    background-size: 300% 300%;
    animation: gradient 60s ease infinite;
  }
  
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 30rem;
    font-size: 5rem;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 30px 0px black;
    color: #ffffff;
    background: #0c339e;
    cursor: pointer;
  }
  
  button:hover
  {
    background: #072985;
  }
  
  button:active
  {
    background: #0a3abe;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #switch {
    top: 80%;
  }
  