body {
  background: linear-gradient(45deg, rgb(255, 166, 33) 0%, rgb(253, 18, 89) 33%, rgb(132, 25, 255) 67%, rgb(74, 152, 255) 100%);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15rem;
  width: 30rem;
  font-size: 5rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 30px 0px black;
  color: #ffffff;
  background: #0c339e;
  cursor: pointer;
}

button:hover
{
  background: #072985;
}

button:active
{
  background: #0a3abe;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -76px 0 0 -76px;
  width: 120px;
  height: 120px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #0c339e;
  animation: spin 2s linear infinite, fadeIn 1.5s;
}

#download {
  animation: fadeIn 1.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
